.signup-form {
  display: flex;
  height: 100vh;
  align-items: center;
  background: url("/assets/images/nature.jpeg");

  .signup-card {
    width: 30%;
    margin: 0 auto;
  }

  .signup-profile-form {
    display: flex;
    flex-direction: column;
  }

  .signup-submit-button {
    margin: 0 auto;
  }
}
