<mat-card class="example-card">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Name on credit card">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Credit Card Number" type="number" class="example-right-align">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Credit Card Expiration" type="number" class="example-right-align">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Credit Card Security code" class="example-right-align">
        </mat-form-field>
    </form>
</mat-card>